body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

body header,
body footer {
  padding: 0 6rem;
}

body section {
  margin: 0 6rem;
}

header {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/banner.png");
  background-size: contain;
}

header img {
  width: 3.5rem;
  height: 3rem;
}

header span {
  font-size: 4rem;
  padding: 1rem 0 0 0.5rem;
  color: #e52b45;
  font-family: "Lalezar", cursive;
}

.intro h1 {
  color: #424132;
  font-size: 4rem;
  margin-bottom: 0;
}

.intro .intro_filter ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  list-style: none;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro .intro_filter ul button {
  background-color: #e52b45;
  color: #efecb6;
  border-style: none;
  border-radius: 50px;
  font-weight: 600;
  padding: 0.5rem;
  margin: 0.5rem;
}

.intro .intro_filter ul button:hover {
  background-color: #03afc0;
  color: #efecb6;
  cursor: pointer;
}

#contents_feature {
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(30rem, 1fr) 1fr;
      grid-template-columns: minmax(30rem, 1fr) 1fr;
  grid-gap: 0;
  grid-auto-rows: 37rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contents_feature .feature_img {
  width: 100%;
  min-width: 15rem;
  height: 100%;
  overflow: hidden;
}

#contents_feature .feature_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#contents_feature .feature_desc {
  background-color: #efecb6;
  color: #424132;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-weight: 700;
}

#contents_feature .feature_desc .feature_desc_title {
  font-size: 3rem;
  color: #01606a;
}

#contents_feature .feature_desc .feature_desc_genre_rate {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contents_feature .feature_desc .feature_desc_genre_rate #_rate {
  background-color: #e52b45;
  color: #efecb6;
  border-radius: 50px;
  padding: 0.4rem;
}

#contents_feature .feature_desc .feature_desc_overview {
  margin-top: 2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
}

#contents_movie {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  -webkit-column-gap: 3.5rem;
          column-gap: 3.5rem;
  margin-bottom: 4rem;
}

#contents_movie .movie_card {
  margin-top: 4rem;
  min-width: 20rem;
  height: 35rem;
}

#contents_movie .movie_card .movie_img {
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

#contents_movie .movie_card .movie_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#contents_movie .movie_card .movie_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contents_movie .movie_card .movie_desc .movie_desc_title_rate {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contents_movie .movie_card .movie_desc .movie_desc_title_rate #_title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #01606a;
}

#contents_movie .movie_card .movie_desc .movie_desc_title_rate #_rate {
  font-size: 0.8rem;
  background-color: #e52b45;
  color: #efecb6;
  border-radius: 50px;
  padding: 0.2rem;
}

#contents_movie .movie_card .movie_desc .movie_desc_genre,
#contents_movie .movie_card .movie_desc .movie_desc_date {
  font-family: "Lato", sans-serif;
  margin-top: 0.4rem;
  font-size: 0.8rem;
  color: #424132;
}

#contents_movie .movie_card .movie_desc .movie_desc_overview {
  margin-top: 1rem;
  font-weight: 600;
  line-height: 1.3rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1d1d15;
  height: 7rem;
}

footer .footer_left img {
  width: 3rem;
  height: 2.5rem;
}

footer .footer_left a {
  text-decoration: none;
  font-size: 3.5rem;
  padding: 1rem 0 0 0.5rem;
  color: #efecb6;
  font-family: "Lalezar", cursive;
}

footer .footer_left a:visited,
footer .footer_left a :link {
  color: #efecb6;
}

footer .footer_right {
  color: #d7d8d6;
}
/*# sourceMappingURL=style.css.map */