// Fonts
$fonts_main: "Inter", sans-serif;
$fonts_secondary: "Lato", sans-serif;

// Fonts weight
$weight_regualr: 400;
$weight_semiB: 600;
$weight_bold: 700;

// Colors
$primary_color: #a2dbd6;
$secondary_color: #edf8f7;
$neutral000: #7f7f7f;
$neutral100: #d7d8d6;
$neutral200: #f7f7f7;
